
[Unit]
Description=Docker composed service
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a portainer
ExecStop=/usr/bin/docker-compose down -t 5

[Install]
WantedBy=multi-user.target