@7speck:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=becdc836e81ed42f91b4feec0633a0f1726b71a8
//gitlab.com/api/v4/packages/npm/:_authToken=wp-DaDy3s3ENyjge8d14
//gitlab.com/api/v4/projects/24883114/packages/npm/:_authToken=wp-DaDy3s3ENyjge8d14
